p {
    font-size: 18px !important;
}
.container.step0 .row.step0 {
    justify-content: center;
    margin-bottom: 20px;
}

.container.step0 .row.step0 .col-sm-12.col-md-12.col-lg-12 h3 {
    font-size: 25px;
    color: #1094fd;
    text-align: center;
    margin-bottom: 40px;
}
.container.step0 .row.step0 .col-sm-6.col-md-6 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container.step0 .row.step0 .col-sm-6.col-md-6 .txt p {
    margin: 0;
    text-align: center;
    color: #1094fd;
}
.container #form_container .row.no-gutters .col-lg-8 #wizard_container .container.step1 .row {
    flex-direction: column;
    align-items: center;
}
.container #form_container .row.no-gutters .col-lg-8 #wizard_container .container.step1 .row .col-sm-6.col-md-6 {
    display: flex;
    max-width: 100%;
    margin: 0px 0px 30px 0px;
    background-color: #1094fd;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
@media only screen and (min-width:320px) and (max-width:768px) {
    .container #form_container .row.no-gutters .col-lg-8 #wizard_container .container.step1 .row .col-sm-6.col-md-6 {
        flex-direction: column;
        align-items: center;
    }
    
}
@media only screen and (min-width:320px) and (max-width:374px) {
    button.forward {
        position: fixed;
        bottom: 30px;
        right: 27% !important;
        z-index: 9999999999;
    }
}
@media only screen and (min-width:375px) and (max-width:424px) {
    button.forward {
        position: fixed;
        bottom: 30px;
        right: 30% !important;
        z-index: 9999999999;
    }
}
@media only screen and (min-width:425px) and (max-width:600px) {
    button.forward {
        position: fixed;
        bottom: 30px;
        right: 32% !important;
        z-index: 9999999999;
    }
}
.container #form_container .row.no-gutters .col-lg-8 #wizard_container .container.step1 .row .col-sm-6.col-md-6 p {
    margin: 0;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #form_container .row.no-gutters .col-lg-8 #wizard_container .container.step1 .row .col-sm-6.col-md-6 picture img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.container.step1 .row .doubt a.a.doubt {
    color: #1094fd !important;
}