@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
  font-family: 'Muli', sans-serif !important;
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  padding-right: 80px;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #A038FD;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #05E4D3;
  border-color: #54E0C7;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.buttons {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  box-sizing: border-box;
}

.buttons::before,
.buttons::after {
  box-sizing: inherit;
}
/* Estilizacao Imagem */

.image{
  width: 100%;
  height: 220px;
}

/*Estilizaçao do Formulario */
#index {
  background-color: #f2f2f2;
}

.title {
  text-align: center;  
  color: #1c144e;
  font-size: 25px;
  font-family: 'Muli' !important;
}

.idade{
  border-radius: 5px; 
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.btn-cadastro {
  background-color: #05E4D3;
  color: #ffffff;
  border: none;
  padding: 10px 39px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: 'Muli', sans-serif;
  cursor: pointer;
}

.btn-cadastro:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #fff;
  color: #333333;
  border: 1px solid #333333;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #05E4D3;
}

/* Pagina Resultado */
#sem-estresse{
  border: 1px solid #d2d2d2;
}

#estresse-medio{
  border: 1px solid #d2d2d2;
}

#estresse-altissimo{
  border: 1px solid #d2d2d2; 
}

#sem-estresse .box-result{
  border: 1px solid #28a745;
  width: 394px;
  padding-top: 3px;
  height: 50px;
  border-radius: 8px;
}

#estresse-altissimo .box-result{
  border: 1px solid #dc3545;
  width: 394px;
  padding-top: 3px;
  height: 50px;
  border-radius: 8px;
}

#estresse-medio .box-result{
  border: 1px solid #007bff;
  width: 394px;
  padding-top: 3px;
  height: 50px;
  border-radius: 8px;
}

.sub-title{
  margin-top: 30px;
  font-size: 37px;
  color: #333333;
}

.text-success{
  font-size: 27px;
}

.text-danger{
  font-size: 27px; 
}

.text-primary{
  font-size: 27px; 
}

.size-image{
  width: 395px;
}

.link:hover{
  color: #05E4D3;
}

@media (max-width: 991.98px){
  /* Pagina Resultado */
#sem-estresse{
  border: none;
}

#estresse-medio{
  border: none;
}

#estresse-altissimo{
  border: none; 
}

#estresse-altissimo .box-result{
  padding-top: 10px;
}

.sub-title{
  margin-top: 0px;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  color: #333333;
}

.box-result{
  border: 1px solid #28a745;
  border-radius: 6px;
  padding: 5px 15px;
  width: 255px !important;
  height: 70px;
}

.result{
  font-size: 23px;
  padding-top: 2px;
}

.size-image{
  width: 255px; 
  height: 140px;
}
}

}