#imgVideoZ, #microZ {
    display: none;
}
.main-content.video .page-content .container-fluid.video .row .bottom picture.d-flex.phoneRed img {
    margin-bottom: 13px;
    width: 50px;
}
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex picture.pic,
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex .dropdown {
    width: 58px;
    height: 58px;
}
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex .dropdown .dropdown-menu {
    background-color: #212121 !important;
    right: 0px !important;
    left: auto !important;
}
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex .dropdown .dropdown-menu a, #modalCenter .modal-dialog.modal-dialog-centered .modal-content .modal-body p.h5 {
    color: #FFF !important;
}
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex .dropdown .dropdown-menu a.dropdown-item.rel img {
    margin-right: 5px !important;
}
.main-content.video .page-content .container-fluid.video .row .top.d-flex.justify-content-between .msg.d-flex .dropdown .dropdown-menu a.dropdown-item.den img {
    margin-right: 10px !important;
}
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #ExemploModalCentralizado .modal-dialog.modal-dialog-centered #black.modal-content,
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #modalCenter .modal-dialog.modal-dialog-centered #black1.modal-content {
    background-color: #212121 !important;
    border: none !important;
}
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #ExemploModalCentralizado .modal-dialog.modal-dialog-centered .modal-content .modal-body p.h5 {
    margin-bottom: 15px !important;
}
#modalCenter .modal-dialog.modal-dialog-centered .modal-content .modal-body p.h5 {
    margin-bottom: 12% !important;
}
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #ExemploModalCentralizado .modal-dialog.modal-dialog-centered .modal-content .modal-body p {
    text-align: center !important;
}
#ExemploModalCentralizado.modal.fade.show .modal-dialog.modal-dialog-centered .modal-content .modal-header,
#ExemploModalCentralizado.modal.fade.show .modal-dialog.modal-dialog-centered .modal-content .modal-footer,
#modalCenter.modal.fade.show .modal-dialog.modal-dialog-centered .modal-content .modal-header,
#modalCenter.modal.fade.show .modal-dialog.modal-dialog-centered .modal-content .modal-footer {
    border: none !important;
}

body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #modalCenter .modal-dialog.modal-dialog-centered .modal-content .modal-header button.close span,
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #ExemploModalCentralizado .modal-dialog.modal-dialog-centered .modal-content .modal-header button.close span,
body.modal-open #layout-wrapper .main-content.video .page-content .container-fluid.video .row .bottom #ExemploModalCentralizado .modal-dialog.modal-dialog-centered .modal-content .modal-body p.h5 {
    color: #FFF !important;
}
/* avaliar */
#altcontainer form {
    background-color: #212121;
}

#label0, #label1, #label2, #label3, #label4 {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}        
#altcontainer {
    background-color:#fff;
    font-size:120%;
    line-height:1.7em;
}
    /* The radiocontainer */
.radiocontainer {
    background-color:#f1f1f1;
    display: block;
    position: relative;
    padding:10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word;
    text-align: center;
    border-radius: 30px;
}
    
    /* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkedlabel {
    background-color:#2196F3;
    color: #FFF;
}
@media only screen and (min-width:768px) {
    .radiocontainer:hover {
        background-color: #2196F3;
        color: #FFF;
    }
}   

/* end avaliar*/


.main-content.video .page-content {
    background-color: black;
    color: #FFF;
    margin-bottom: 8%;
}
.main-content .page-content .container-fluid.video .row {
    height: 86vh;
}
.main-content .page-content .container-fluid .row .mid {
    padding: 10px;
}
.main-content .page-content .container-fluid .row .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}
.main-content .page-content .container-fluid .row .mid .input.d-flex input#txt {
    width: 95%;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.main-content .page-content .container-fluid .row .mid p.h5 {
    color: #FFF;
}
.main-content .page-content .container-fluid .row .mid .input.d-flex picture.d-flex {
    position: relative;
    right: 25px;
    bottom: 4px;
}
.main-content .page-content .container-fluid .row .mid p.texto {
    width: 75%;
}
.main-content .page-content .container-fluid .row .top.d-flex.justify-content-between {
    width: 100%;
}
.main-content .page-content .container-fluid .row .mid {
    width: 50%;
}
.main-content .page-content .container-fluid .row .top.d-flex.justify-content-between .photo_hero {
    width: 125px;
    height: 150px;
    background-color: blue;
    border-radius: 8px;
}
.main-content .page-content .container-fluid .row .mid a.btn.btn-green picture img {
    margin-right: 10px;
}
@media only screen and (min-width:320px) and (max-width:768px) {
    .main-content .page-content .container-fluid .row .mid {
        width: 100%;
    }
    .main-content.video .page-content .container-fluid .row .mid a.btn.btn-green {
        width: 60% !important;
    }
}