html body {
    background-color: #FFF !important;
}
header .container.cadastro {
    background-color: #2f90ff !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    max-width: 1300px;
}
header .container.cadastro picture, header .button {
    width: 15%;
}
header .container.cadastro picture img {
    width: 85px;
}
header .container.cadastro nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
header .container.cadastro nav ul {
    width: 70%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}
header .container.cadastro .button.d-flex a.btn.btn-white,
section.roxo .container .row .col-sm-6.col-md-6 picture img {
    width: 90%;
}
.menu-mobile {
    display: none !important;
}
section.captacao .container .row,
section.blue .container .row,
section.roxo .container .row,
section.grey .container .row,
section.yellow .container .row {
    padding: 10% 0%;
}
section.captacao .container .row .col-sm-6.col-md-6 p.h1 {
    width: 55%;
}
section.captacao .container .row .col-sm-6.col-md-6 p {
    font-size: 17px;
}
section.captacao .container .row .col-sm-6.col-md-6 p,
section.white .container .row .col-sm-6.col-md-6 .card {
    width: 85%;
}
a.btn.btn-yellow {
    background-color: #ffba2f;
    width: 55%;
    font-size: 17px;
    padding: 10px;
    color: #FFF;
    border: 2px solid #ffba2f;
    transition: all .5s linear;
}
a.btn.btn-yellow:hover {
    background-color: #FFF;
    color: #ffba2f;
}
section.captacao .container .row .col-sm-6.col-md-6 video {
    width: 100% !important;
}
section.blue .container {
    background-color: #2f90ff !important;
}
section.blue .container .row .col-sm-6.col-md-6 picture {
    border-color: #FFF;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 250px;
}
section.blue .container .row .col-sm-6.col-md-6 picture img {
    border: 1px solid #FFF;
    height: 100%;
}
section.blue .container .row .col-sm-6.col-md-6 p,
section.blue .container .row .col-sm-6.col-md-6 picture img {
    width: 80%;
}
section.blue .container .row .col-sm-6.col-md-6 p.h1 {
    line-height: 45px;
    font-size: 2.03125rem !important;
}
section.blue .container .row .col-sm-6.col-md-6 p {
    font-size: 15px;
    line-height: 27px;
    margin-top: 20px;
}
section.white .container {
    padding: 10% 0% 3% 0%;
}
section.white .container .row .col-sm-6.col-md-6 {
    display: flex;
    align-items: center;
}
section.white .container .row .col-sm-6.col-md-6 .card p {
    width: 60%;
    text-align: center;
}
section.white .container .row .col-sm-6.col-md-6 .card {
    padding: 5%;
    box-shadow: 0.4rem 0.2rem 1rem 0rem grey;
}
section.white .container .row .col-sm-6.col-md-6 .card.align-items-center.diff {
    padding: 6%;
}
section.white .container .row .col-sm-6.col-md-6 .card.align-items-center picture img {
    width: 75px;
    margin-bottom: 15px;
}
section.white .container .btn a.btn.btn-roxo {
    width: 35%;
    padding: 10px;
    background: #bd5aff;
    border: 2px solid #bd5aff;
    margin-top: 10%;
    font-size: 17px;
    transition: all .5s linear;
}
section.white .container .btn a.btn.btn-roxo:hover {
    background: #FFF;
    color: #bd5aff !important;
}
section.roxo .container {
    background-color: #bd5aff;
    padding: 0% 5%;
}
section.roxo .container .row .col-sm-6.col-md-6,
section.white .container .btn a.btn.btn-roxo,
section.blue .container .row .col-sm-6.col-md-6 p,
header .container.cadastro nav ul a li,
section.roxo .container .row .col-sm-6.col-md-6 p.h2 {
    color: #FFF !important;
}
section.roxo .container .row .col-sm-6.col-md-6 p.h2 {
    margin-bottom: 25px;
    font-size: 1.625rem !important;
}
section.roxo .container .row .col-sm-6.col-md-6 p {
    font-size: 15px;
}
section.roxo .container .row .col-sm-6.col-md-6 picture {
    display: flex;
    justify-content: center;
    height: 100%;
}
section.roxo .container .row .col-sm-6.col-md-6 picture img {
    border: 1px solid #FFF;
}
section.grey .container {
    background-color: #f1f1f1;
}
section.grey .container .row .chats .balao2 {
        background: #FFF;
        border-radius: 15px;
        width: 300px;
        height: 150px;
        position: relative;
}
section.grey .container .row .chats .balao2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFF;    
    bottom: -20px;
    left: 20%;
}
section.grey .container .row p.h2 {
    width: 50%;
    text-align: center;
}
section.grey .container .row .bolao.d-flex {
    height: 400px;
    width: 90%;
    justify-content: center;
    margin-top: 8%;
}
section.grey .container .row .bolao.d-flex .chats.two,
section.grey .container .row .bolao.d-flex .chats  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section.grey .container .row .bolao.d-flex .chats.one {
    margin-right: 3%;
}
section.grey .container .row .bolao.d-flex .chats.one .balao2.margin {
    margin-bottom: 50px;
}
section.grey .container {
    position: relative;
}
section.grey .container .row .circular {
    border: 2px solid #bd5aff;
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    top: 220px;
}
section.grey .container .btn a.btn.btn-yellow {
    width: 35%;
    margin-bottom: 7%;
}
section.yellow .container {
    background-color: #ffba2f;
}
section.yellow .container .row .col-sm-4.col-md-4 p {
    font-size: 20px;
    color: #FFF;
    line-height: 25px;
}
section.yellow .container .row .col-sm-4.col-md-4 {
    max-width: 50%;
    flex: 50%;
    text-align: center;
}
section.yellow .container .row .col-sm-4.col-md-4 p.h4 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #FFF;
}
section.yellow .container .row .col-sm-8.col-md-8 {
    flex: 60%;
    max-width: 60%;
}

section.yellow .container .row .col-sm-12.col-md-12 .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

section.yellow .container .row .col-sm-12.col-md-12 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #000;
}
section.grey .container .row .circularMobile {
    display: none;
}
@media only screen and (min-width:320px) and (max-width:768px) {
    section.grey .container .row .circularMobile picture img, section.captacao .container .row .col-sm-6.col-md-6 p.h1, section.captacao .container .row .col-sm-6.col-md-6 p, a.btn.btn-yellow {
        width: 100% !important;
    }
    header .menu-mobile {
        display: block !important;
    }
    section.margin {
        margin-top: 70px;
    }
    header .container.cadastro {
        display: none;
    }
    header .menu-mobile #page-topbar {
        background-color: #2f90ff;
    }
    header .menu-mobile #page-topbar .navbar-header {
        padding: 0;
    }
    header .menu-mobile #page-topbar .navbar-header .d-flex {
        height: 100%;
        width: 100%;
    }

    header .menu-mobile #page-topbar .navbar-header .d-flex .navbar-brand-box {
        background-color: #FFF;
    }
    header .menu-mobile #page-topbar .navbar-header .d-flex .navbar-brand-box picture img {
        width: 60px;
        height: 47px;
    }
    header .menu-mobile #page-topbar .navbar-header .d-flex button i {
        color: #FFF;
    }
    header .menu-mobile #page-topbar .navbar-header .d-flex .button.d-flex a.btn {
        margin-right: 5%;
    }
    
    section.grey .container .row .circular, section.grey .container .row .bolao.d-flex {
        display: none !important;
    }
    section.captacao {
        margin-top: 70px;
    }
    
    section.captacao .container .row .col-sm-6.col-md-6 p.h1 {
        font-size: 27px !important;
    }
    section.captacao .container .row .col-sm-6.col-md-6 p {
        font-size: 13px;
    }
    section.captacao .container.d-flex.justify-content-center .row .col-sm-6.col-md-6 {
        margin-top: 20px;
    }
    section.blue .container .row {
        display: flex;
        flex-direction: column-reverse;
    }
    section.blue .container .row .col-sm-6.col-md-6.d-flex.justify-content-center.align-items-center.flex-column,
    section.blue .container .row .col-sm-6.col-md-6.d-flex.justify-content-center.align-items-center,
    section.roxo .container .row .col-sm-6.col-md-6 {
        padding:0;
    }
    section.blue .container .row .col-sm-6.col-md-6 p.h1 {
        font-size: 24px !important;
        line-height: 37px;
    }
    section.blue .container .row .col-sm-6.col-md-6 p, section.blue .container .row .col-sm-6.col-md-6 p.h1, section.blue .container .row .col-sm-6.col-md-6 picture img, section.grey .container .row p.h2 {
        width: 100%;
    }
    section.blue .container .row .col-sm-6.col-md-6 p {
        font-size: 14px;
    }
    section.white .container .row .col-sm-6.col-md-6 {
        justify-content: center !important;
    }
    section.white .container .row,
    section .container .row {
        margin: 0;
    }
    section.white .container .btn a.btn.btn-roxo {
        width: 90% !important;
    }
    section.white .container .row .col-sm-6.col-md-6 .card,
    section.white .container .row .col-sm-6.col-md-6 .card p {
        width: 95% !important;
    }
    section.roxo .container .row .col-sm-6.col-md-6 p.h2 {
        font-size: 22px !important;
    }
    section.grey .container .row p.h2 {
        font-size: 21px !important;
    }
    section.yellow .container .row .col-sm-8.col-md-8 {
        max-width: 100%;
        flex: 100%;
    }
    section.yellow .container .row .col-sm-4.col-md-4 {
        max-width: 100%;
        flex: 100%;
    }
    section.yellow .container .row .col-sm-4.col-md-4 p.h4 {
        font-size: 25px;
    }
    section.yellow .container .row .col-sm-4.col-md-4 p {
        font-size: 15px;
    }
}